<html>
  <head><link rel="stylesheet" type="text/css" href="css/style.css"></head>
  <link href='//fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <body>
   <h1> <%= @name1 %> </h1>
  <h1>You have chosen <%= @player_choice1 %></h1>
  <h1> <%= @name2 %> </h1>
  <h1> You have chosen <%= @player_choice2 %></h1>
  <h1>Result: <%= @winner %></h1>
  </body>
   <form action='/fresh'>
      <input type="submit" value="New Game" id="players">
    </form>
</html>